#productOrder > .razorpay-payment-button {
    display: none
}

.input_checkout, .css-1hwfws3{
    height: 30px !important;
}

.overflowCartTwoItems {
    height: 260px;
    overflow-y: scroll;
}

.bg-cart-color{
    background-color: #f7f7f7;
}

.overflowAddress {
    overflow-x: scroll;
}

.selectedaddress{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.itemTextColor{
    color:#fb9944
}

.adjustClose{
    top: -14px;
    position: relative;
}
.adjustFontIcon{
    font-size: 17px;
}

.success-mark{
    width: 12px;
}

.cross-mark{
    width: 12px;
}

.err-bod{
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #f5821e;
}
.font-icon{
    font-size: 20px;
    color: #f5821e;
}

.razorpay-payment-button{
    padding: 8px 14px ;
    border-radius: 4px !important;
    color: #ffffff ;
    border: 2px solid #ff9944;
    border-radius: 1.5rem;
    background-image: linear-gradient(
30deg
, #ff9944 50%, transparent 50%);
    background-size: 540px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    margin-top: 1rem;
    margin-right: .5rem;
    margin-bottom: 10px;
}