.max_width_250{
    max-width: 225px;
}

.w-60{
    width:60%;
}

.w_100{
    width: 130px;
}

.p_4{
    padding: 4px !important;
}

.border-orange{
    border-color: #ff9944
}

.mw_500{
    max-width: 500px
}

.lead_img{
    max-width: 200px;
    max-height: 200px;
}

.text-orange{
    color: #ff9944;
}
