.visabg {
    background: url('https://beldara.com/assets/images/icon/visa.png')
 }
    
 .mastercardbg{
    background: url('https://beldara.com/assets/images/icon/mastercard.png')
 }
    
.paypalbg  {
     background: url('https://beldara.com/assets/images/icon/paypal.png')
 }
    
.american_expressbg {
        background: url('https://beldara.com/assets/images/icon/american-express.png')
 }
    
.discoverbg  {
        background: url('https://beldara.com/assets/images/icon/discover.png')
 }