.reqMain{
    position: relative;
    left: 100%;
}

.reqSlideLeft {
    position: relative;
    right: 100%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    z-index:-1;
}

.contactSlideLeft {
    position: relative;
    left: 0;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.visiControl{
    visibility: hidden;
}
.product-icon:hover{
    color:red
}
