.productBorder{
    border: 2px solid #f5821e;
}

.imglocation{
    max-width: 20px;
    margin-top: -2px;
    margin-right: 3px;
}

.fontmark{
    font-family: "SourceSansPro-Semibold", sans-serif;
}

.borderImg{
    border: 1px solid #f5821e
}
.border-bottom{
    /* padding-bottom: 20px; */
    border-bottom: 1px dashed #dddddd !important;
}
.border-top{
    border-top: 1px dashed #dddddd !important;
}
.hoverprice:hover{
    background-color: #f4f4f4;
}
.selectvariant{
    border: 2px solid #f5821e;
}   
.backgorundColorforHoleCalc{
    background-color: #f4f4f4;

}
.custom-border{
    border-radius: 8px;
    border: 2px solid black;
    padding: 2px;
}
.adjust-content{
    position: absolute;
    right: 59px;
}
.cross-mark svg{
    width: 12px;
    height: 12px;
}
.success-mark svg{
    width: 12px;
    height: 12px;
}
.p-text-color{
    color: #f5821e !important;
}
.change-pincode-button{
    border-radius: 4px;
    border: 1px solid #f5821e;
}
.min-modal-size{
    min-width: 356px;
}

.dangerBorder{
    border: 1px solid red;
}

.modal-dialog-centered{
    margin-left: -36px;
}

.imgBeldaraFirst{
    margin-right: 9px;
}
.shippingBeldaraFirst{
    color: #24adee;
    margin-right: -116px;
}

.toast_pull_right-1 {
    position: fixed;
    right: 2%;
    z-index: 10;
    top: 174px;
    width: 26%;
}

@media only screen and (max-width: 600px) {
    .imgBeldaraFirst{
        margin-right: 15px;
    }
    .shippingBeldaraFirst{
        color: #24adee;
        margin-right: 0px;
    }

    .toast_pull_right-1 {
        position: fixed;
        top: 152px;
        width: 100%;
    }
    
}